.fill {
  height: max-content;
  width: 140px;
  margin: 5px 0;
}

.sidebar {
  height: max-content;
  width: 140px;
  margin: 0;
}

.sendou-overlay {
  margin-bottom: 5px;
}

.body-sized {
  width: 110px;
}

.side-margin-small {
  margin-top: 3px;
  margin-bottom: 3px;
}

.horizontal-space-mini {
  width: 3px;
}

.horizontal-space-small {
  width: 7px;
}

.horizontal-space-medium {
  width: 23px;
}

.vertical-space-big {
  height: 30px;
}

.vertical-space-medium {
  height: 15px;
}

.vertical-space-small {
  height: 7px;
}

.vertical-space-mini {
  height: 3px;
}

.fit-to-content {
  width: auto;
  max-width: unset;
  flex-grow: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.flex-to-right {
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.rounded-corners-transparent {
  background-color: rgba(68, 68, 68, 0.65);
  border-radius: 12px;

  padding: 3px;
}

.rounded-corners-sendou-foreground {
  background-color: rgba(20, 15, 52, 0.8);
  border-radius: 0 10px 10px 0;
  padding: 5px 3px;
}

.rounded-corners-sendou-highlight {
  background-color: rgba(169, 138, 255, 0.3);
  border-radius: 10px;
  padding: 5px 3px;
}

.no-rounded-corners-sendou {
  background-color: rgba(20, 15, 52, 0.8);
  border-radius: 0;
  padding: 0 8px;
  max-width: fit-content;
}

.sendou-header {
  background-color: rgba(20, 15, 52, 0.8);
  border-radius: 10px 10px 0 0;
  padding: 0 8px;
  max-width: fit-content;
}

.sendou-footer {
  background-color: rgba(20, 15, 52, 0.8);
  border-radius: 0 0 10px 10px;
  padding: 0 8px;
  max-width: fit-content;
}

.bottom-margin{
  margin-bottom: 5px;
}

.rounded-corners-sendou-background {
  background-color: rgba(2, 1, 30, 0.65);
  border-radius: 10px;
  padding: 3px;
}

.rounded-corners-bright {
  background-color: rgba(187, 187, 187, 0.65);
  border-radius: 10px;
  padding: 3px;
}

.rounded-corners-dark-grey {
  background-color: rgba(150, 150, 150, 1);
  border-radius: 10px;
  padding: 3px;
}

.rounded-corners-colored {
  background-color: black;
  border-radius: 10px;
  padding: 3px;
}

.rounded-corners-black {
  background-color: black;
  border-radius: 10px;
  padding: 3px;
}

.rounded-corners-border {
  border: black 3px solid;
  border-radius: 10px;
  padding: 3px;
}

.image-max {
  height: 118px;
  width: 118px;
}

.fill-width {
  width: 118px;
}

.image-big {
  height: 112px;
  width: 112px;
}

.image-medium {
  height: 35px;
  width: 35px;
}

.image-circle {
  clip-path: circle();
}

.image-small {
  height: 25px;
  width: 25px;
}

.image-mini {
  height: 14px;
  width: 14px;
}

.active-navigator {
  background-color: yellow !important;
}

.navigator {
  border-radius: 50%;
  background-color: black;
}

.black-circle {
  background-color: black;
  border-radius: 50%;
}

.yellow {
  color: yellow;
}

.aqua {
  color: aqua;
}

.green {
  color: rgb(136, 255, 136);
}

.red {
  color: rgb(255, 136, 136);
}

.green-background {
  background-color: rgb(136, 255, 136);
}

.red-background {
  background-color: rgb(255, 136, 136);
}

.light-yellow {
  color: rgb(255, 255, 136);
}

.light-blue {
  color: rgb(136, 136, 255);
}

.hidden {
  display: none;
  visibility: hidden;
}

.sendou-team-name {
  width: 45%;
  min-width: 120px;
  /*max-width: 250px;*/
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.sendou-result {
  width: 10%;
  min-width: 40px;
  max-width: 60px;
}

.already-owned-exp {
  background-color: yellow;
}

.earned-exp-stream {
  background-color: aqua;
}

.remaining-exp {
  background-color: black;
}

.progress-bar {
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
  height: 14px;
}

.weapon-width {
  width: 118px;
}

.small-font {
  font-size: 21px;
  line-height: 32px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

.mini-font {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

.micro-font {
  font-size: 14px;
  line-height: 22px;
}

.horizontal-padding {
  padding-left: 5px;
  padding-right: 5px;
}
