a {
  text-decoration: none;
}

qrcode {
  line-height: 0;
  margin-bottom: 0.33rem;
}

.sendou-overlay {
  margin-bottom: 0.33rem;
  max-width: 99vw;
}

.horizontal-space-small {
  width: 0.46rem;
}

.flex-column {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.flex-column-left {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.flex-1 {
  flex: 1;
}

.full-width {
  width: 100%;
}

.max-content {
  max-width: max-content;
}

.rounded-corners-sendou-foreground {
  background-color: rgba(2, 1, 30, 0.8);
  border-radius: 0 0.65rem 0.65rem 0;
  padding: 0.33rem 0.2rem;
}

.rounded-corners-sendou-highlight {
  background-color: rgba(169, 138, 255, 0.3);
  border-radius: 0.65rem;
  padding: 0.33rem 0.2rem;
}

.sendou-header {
  background-color: rgba(2, 1, 30, 0.8);
  border-radius: 0.65rem 0.65rem 0 0;
  padding: 0 0.52rem;
  max-width: fit-content;
}

.sendou-footer {
  background-color: rgba(2, 1, 30, 0.8);
  border-radius: 0 0 0.65rem 0.65rem;
  padding: 0 0.52rem;
  max-width: fit-content;
}

.sendou-footer-middle {
  background-color: rgba(2, 1, 30, 0.8);
  border-radius: 0 0 0.65rem 0;
  padding: 0 0.52rem;
  max-width: fit-content;
}

.bottom-margin {
  margin-bottom: 0.33rem;
}

.bottom-margin-small {
  margin-bottom: 0.1rem;
}

.image-medium {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
}

.image-circle {
  clip-path: circle();
  background-color: black;
  display: block;
}

.yellow {
  color: yellow;
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.sendou-result {
  width: fit-content;
  flex-shrink: 0;
}

.mini-font {
  font-size: 0.85rem;
  line-height: 1.3rem;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

.micro-font {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.horizontal-padding {
  padding-left: 0.33rem;
  padding-right: 0.33rem;
}

.tournament-grid-container {
  display: grid;
  grid-template-columns: minmax(0, 2fr) min-content minmax(0, 2fr) min-content minmax(0, 2fr);
  width: fit-content;
  min-width: 100%;
}

.team-grid-container-4 {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  width: fit-content;
  min-width: 100%;
}

.team-grid-container-3 {
  display: grid;
  grid-template-columns: min-content auto min-content;
  width: fit-content;
  min-width: 100%;
}

.team-grid-cell {
  width: 100%;
  vertical-align: middle;
  line-height: 1.5rem;
}

.text-left {
  text-align: left;
}

.rounded-corners-up-left {
  border-radius: 0.65rem 0 0 0;
}

.rounded-corners-up-right {
  border-radius: 0 0.65rem 0 0;
}

.rounded-corners-bottom-left {
  border-radius: 0 0 0 0.65rem;
}

.rounded-corners-bottom-right {
  border-radius: 0 0 0.65rem 0;
}

.sendou-dark-background {
  background-color: rgba(20, 16, 53, 0.8);
}

.grey-background {
  background-color: rgba(165, 165, 165, 0.8);
}

.darker-grey-background {
  background-color: rgba(80, 80, 80, 0.8);
}

.team-image {
  /*margin-right: 0.1rem;*/
  margin-left: 0.2rem;
}

.seed-margin {
  margin: 0.1rem 0.2rem;
}

.score-margin {
  margin: 0.1rem 0.4rem;
}
